- name: Check Vault status after init
  command: >
    kubectl exec -n {{ vault_namespace }}
    {{ vault_release_name }}-0
    -- vault status -format=json
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  register: vault_final_status
  changed_when: false

- name: Assert Vault is initialized
  assert:
    that:
      - (vault_final_status.stdout | from_json).initialized == true
    fail_msg: "Vault is not initialized."


- name: Show Vault sealed state
  debug:
    msg: >
      Vault sealed state:
      {{ (vault_final_status.stdout | from_json).sealed }}
