- name: 'Add Hashicorp Helm repo'
  command: >
    helm repo add {{ vault_helm_repo_name }} {{vault_helm_repo_url}}
  register: repo_added
  failed_when:  >
    repo_added.rc != 0 and
    "already exists" not in repo_added.stderr
  changed_when: "'has been added' in repo_added.stdout"

- name: 'Update Helm repositories'
  command: 'helm repo update'
  changed_when: false