
- name: 'Check Vault initialization status'
  command: >
    kubectl exec -n {{ vault_namespace }}
    {{ vault_release_name }}-0
    -- vault status -format=json
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  register: vault_status
  changed_when: false
  failed_when: false

- name: Initialize Vault
  command: >
    kubectl exec -n {{ vault_namespace }}
    {{ vault_release_name }}-0
    -- vault operator init -key-shares=5 -key-threshold=3 -format=json
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  register: vault_init
  when: >
    vault_status.stdout is defined and
    (vault_status.stdout | from_json).initialized == false
