- name: Wait for Vault pods to be Running
  ansible.builtin.command: >
    kubectl get pods -n {{ vault_namespace }}
  register: vault_status
  retries: 20
  delay: 15
  until: "'Pending' not in vault_status.stdout"
  changed_when: false
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"

- name: "Get Vault pods"
  command: 'kubectl get pods -n {{ vault_namespace }}'
  environment: 
    KUBECONFIG: '{{ kubeconfig_path }}'
  register: vault_pods
  changed_when: false

- name: "View Vault pods"
  debug:
    var: vault_pods.stdout