- name: "Ensure systemd-timesyncd is installed"
  package:
    name: systemd-timesyncd
    state: present
    update_cache: yes


- name: "Ensure time sync service is enabled"
  systemd:
    name: systemd-timesyncd
    enabled: yes
    state: started 