- name: 'Ensure .kube directory exists'
  file:
    path: /home/ubuntu/.kube
    state: directory
    owner: ubuntu
    group: ubuntu
    mode: '0755'

- name: 'Copy admin.conf to ubuntu kubeconfig'
  copy:
    src: "{{ kube_admin_conf }}"
    dest: /home/ubuntu/.kube/config
    remote_src: yes
    owner: ubuntu
    group: ubuntu
    mode: '0644'