- name: 'Install Dependancies'
  package:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gpg
    state: present
    update_cache: yes

- name: 'Ensure apt keyrings directory exists'
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: 'Download Kubernetes signing key'
  get_url:
    url: "{{ k8s_apt_key_url }}"
    dest: /tmp/kubernetes-release.key
    mode: '0644'

- name: Check if Kubernetes keyring exists
  stat:
    path: "{{ k8s_keyring_path }}"
  register: k8s_keyring_stat
  
- name: 'Convert Kubernetes key to gpg format'
  command: >
    gpg --dearmor -o {{ k8s_keyring_path }} /tmp/kubernetes-release.key
  when: not k8s_keyring_stat.stat.exists

- name: Remove temporary key file
  file:
    path: /tmp/kubernetes-release.key
    state: absent

- name: 'Add Kubernetes apt repository'
  apt_repository:
    repo: "{{ k8s_apt_repo }}"
    state: present
    filename: kubernetes
    update_cache: yes

- name: 'Install Kubelet, Kubeadm, Kubectl'
  package:
    name:
      - kubelet=1.34.0-1.1
      - kubeadm=1.34.0-1.1
      - kubectl=1.34.0-1.1
    state: present
    update_cache: yes

- name: 'Hold Kubernetes Packages'
  ansible.builtin.command: apt-mark hold {{ item }}
  loop: 
    - kubelet
    - kubeadm
    - kubectl

- name: 'Enable kubelet service'
  systemd:
    name: kubelet
    enabled: yes